:root {
  /* define gradient variable */
  --inferno-gradient: linear-gradient(
    90deg,
    #000004,
    #210C4A,
    #56106E,
    #89226A,
    #BB3754,
    #F98C0A,
    #FCFFA4
    
  );
}

/* Global headings */
/*  background  */
body {
  background-color: #FFFFFF;
  font-family: "Georgia", serif;
  line-height: 1.7;
  color: #222;
  padding: 2rem;
}


/* Headings */
h1 {
  color: #000000; 
  font-weight: bold;
  font-family: "Georgia", "Times New Roman", Times, serif;
  line-height: 1;
  margin: 0 0 2em 0;
  border-bottom: .01px solid #BAA;  
  
}

 h2, h3 {
  color: #2B0B57FF; 
  font-weight: bold;
  font-family: "Georgia", "Times New Roman", Times, serif;
  line-height: 1;
  margin: 1em 0 1em 0;
  
}

 h4  {
  color: #222; 
  font-weight: bold;
  font-family: "Georgia", "Times New Roman", Times, serif;
  line-height: 1;
  margin: 0 0 0em;
}


 h5, h6 {
  color: #2B0B57FF; 
  font-weight: bold;
  font-family: "Georgia", "Times New Roman", Times, serif;
  line-height: 1;
  margin: 0 0 0em;
}

/* Links */
a {
  color: #0000EE;  
  text-decoration: none;
}

/* Hover effect: darker blue */
a:hover {
  color: #5050F1;  
  text-decoration: underline;
}


/* Bold text */
strong, b {
  color:  #222;
}

/* Horizontal line */
hr {
  border: none;
  height: 4px;
  /* short line */
  width: 30rem;
  border-radius: 3px;
  background: var(--inferno-gradient);
  margin: 0  auto;
 }



#R-box {
  background: #fdfdfd;
  /* underline style instead of block */
  border-left: 4px solid #BAA;  
  padding: 0.1rem 0.3rem;
  margin: 1rem 0 1rem;
  font-style: italic;
}

#L-box {
  margin-bottom: 1.5rem;  
}

#L-box a {
  color: #0000EE !important ; 
 text-decoration: underline;
}

#L-box a:hover {
  color: #5050F1 !important;                
}

/* Plot containers */
.plot-row {
  display: flex;
  /* spacing between plots */
  gap: 1rem;              
  justify-content: center;
  /*  make all plots equal height */
  align-items: stretch;
  margin: 2rem 0;
  /* allows wrapping on smaller screens */
  flex-wrap: wrap;        
}

.plot {
  /* each plot takes up ~30% of row */
  flex: 0 1 20%;         
  text-align: center;
  display: flex;  
  /* items (title + image) are stacked top-to-bottom. */
  flex-direction: column; 
  /* spread title at top, image at bottom */
  justify-content: space-between;
}

.plot img {
  /* make plots smaller */
  max-width: 80%;       
  min-height: 3em;  
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  /* smooth animation */
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.plot img:hover {
  transform: scale(2);  /* zoom in 30% */
  box-shadow: 0 8px 20px rgba(0,0,0,0.25); /* stronger shadow on hover */
}

.plot h4 {
  margin-bottom: 0.5rem;
  color: #222;     
  font-weight: bold;
  font-family: "Georgia", serif;
  font-size: 1.1rem;
 /* reserve space so all titles are equal height */
  min-height: 2.5em;   
  display: flex;
  align-items: center; /* center the text vertically inside that space */
  justify-content: center; /* center horizontally */
  text-align: center;
}


/* Highlight lines (optional Closeread effect) */
.highlight {
  transition: background 200ms ease;
  padding: 1rem;
  font-size: 1.15em;
  transform: scale(1.02);
}

